*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ======================================================== */
.page-content {
  display: flex;
  gap: 7rem;
}

.suivi {
  text-decoration: none;
  color: #7a7a7a;
}

.upper-page-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 4rem;
}

#profil {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}

.right-side {
  padding: 0.4rem 3rem;
  background-color: #3e567e;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
