/* Style global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
}

.page-content {
  display: flex;
  gap: 7rem;
}

.suivi {
  text-decoration: none;
  color: #7a7a7a;
}

.upper-page-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 4rem;
}

#profil {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}

.right-side {
  padding: 0.4rem 3rem;
  background-color: #3e567e;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}


/* Container principal */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}

/* Section Menu CROUS */
.menu-crous {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.menu-header p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

/* Liste des jours */
.menu-days {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  gap: 1rem;
}

.menu .day {
  display: inline-block;
  width: calc(100% / 7 - 1rem);
}

.day {
  flex: 1;
  text-align: center;
  padding: 2px 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.369);
  position: relative;
}
.day:last-child {
  border-right: none;
}
.day h2 {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.strong-menu {
  font-size: .95rem;
}
.menu-item {
  position: relative;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-item p {
  margin: 0;
  position: relative;
  z-index: 2;
  font-size: 1rem;
  color: #333;
  font-weight: normal;
  padding-left: 10px;
}
.menu-item strong {
  font-weight: bold;
  margin-right: 0.5rem;
}
/* Note */
.note {
  color: #666;
  font-size: 1rem;
  text-align: right;
  margin-top: 1rem;
}
.esiee,
.coppernic {
  margin-bottom: 1rem;
}
.esiee,
.coppernic:hover {
  cursor: pointer;
}
.active-menu {
  color: #556F9B;
  transition: 0.5s;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.close-button:hover {
  color: red;
}
/* Section Izly */
.izly-account {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.izly-account h2 {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}
.balance {
  margin-bottom: 2rem;
}
.amount {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.qr-code img {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  margin-bottom: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}
.button-container {
  width: 100%;
  text-align: center;
}
.izly_big_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#buttonMenucrous {
  background-color: #586068;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
#buttonMenucrous:hover {
  background-color: #0056b3;
}
.semi-circle-container {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 40px auto;
}
.semi-circle {
  width: 175px;
  height: 87px;
  border-radius: 200px 200px 0 0;
  background: #ffffff;
  position: absolute;
  top: -43px;
  left: 12px;
  z-index: 100;
  border: 2px solid black;
  border-bottom: none;
}
.semi-circle-overlay {
  width: 236px;
  height: 118px;
  border-radius: 200px 200px 0 0;
  background: linear-gradient(
    to right top,
    rgba(62, 86, 126) 25%,
    transparent 1%
  );
  position: absolute;
  top: -74px;
  left: -18px;
  z-index: 4;
  border: 2px solid;
}
.text-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  z-index: 100;
}
.text-content .amount {
  font-weight: bold;
  font-size: 24px;
}
/* Formulaire Izly Paiement */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
}
.izly-paiement-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.pay-with {
  font-weight: bolder;
}
.form-group.save-card {
  display: flex;
  align-items: center;
}

.form-group.save-card input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.2);
  align-self: flex-start;
}
#recharger-izly {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
}
#izly-form-p {
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  top: -30px;
  left: 48px;
  width: fit-content;
}
#izly-form {
  width: 32rem;
}
.pay-with-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.option-payement {
  display: flex;
  gap: 2rem;
  margin-bottom: 25px;
}
.form-row {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.form-group {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #586068;
  outline: none;
}

.button-container {
  text-align: center;
}
.upper-izly-text {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}
.semi-circle-containers {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 11rem 0 0 6rem;
  position: relative;
  width: 200px;
  height: 100px;
}
.izly-form-container {
  flex: 2;
}
.menu-header-container {
  display: flex;
  justify-content: space-between;
}
.fleche {
  margin-right: 1.2rem;
}
@media (max-width: 1275px) {
  .day {
    padding: 0;
  }
  .day h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .menu-crous {
    margin-bottom: 5rem;
  }
  .strong-menu {
    font-size: 0.8rem;
  }
  .container {
    display: block;
  }
  .menu-item p {
    font-size: 0.7rem;
  }
  .menu-header h1 {
    font-size: 2rem;
  }
  .menu-header p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .menu-crous {
    padding: 2rem;
  }

  .menu-header h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .menu-header p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .menu-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .day {
    flex: 1 1 calc(33.33% - 0.5rem);
    text-align: center;
    margin-bottom: 1rem;
  }

  .menu-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .menu-item p {
    font-size: 0.8rem;
    margin: 0;
  }
}
/* Responsiveness pour max 1040px */
@media (max-width: 1040px) {
  .izly-paiement-container {
    width: 90%;
    padding: 2rem;
  }

  .flex-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .semi-circle-containers {
    margin: 5rem 0 1rem 0px;
    width: 80%;
    height: auto;
    justify-content: center;
    text-align: center;
  }

  .izly-form-container {
    width: 100%;
    margin-top: 2rem;
  }

  #izly-form {
    width: 90%;
  }

  #izly-form-p {
    top: 6px;
  }

  .pay-with-container {
    gap: 1.5rem;
  }

  .button-container button {
    width: 100%;
    font-size: 1.2rem;
  }
}

/* Responsiveness jusqu'à 768px */
@media (max-width: 768px) {
  .izly-paiement-container {
    padding: 1.5rem;
  }

  .upper-izly-text h2 {
    font-size: 1.2rem !important;
  }

  #izly-form {
    width: 95%;
  }

  .semi-circle-containers {
    margin: 5rem 0 0 0;
  }
  #izly-form-p {
    top: 8px;
  }
  .form-row {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .form-group input {
    font-size: 0.95rem;
    padding: 0.7rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .button-container button {
    font-size: 1rem;
  }
}
