*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* =============================================================== */
/* Barre de navigation  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 10px 20px;
  height: 70px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-style: outset;
  font-family: Arial, sans-serif;
}

.navbar-home {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  font-size: 1rem;
  text-decoration: none;
}

/* Navbar Items */
#navbarLinks {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1rem;
  list-style: none;
}

.navbar-item {
  color: #6e6e6e;
  text-decoration: none;
  transition: all 0.5s ease;
}

.navbar-item:hover {
  color: black;
}

i {
  margin-right: 8px;
  font-size: 16px;
}

.navbar-item::after,
.navbar-profile::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 10px;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.5s ease;
}

.navbar-item:hover::after {
  width: 90%;
}

.navbar-profile {
  display: flex;
  align-items: center;
  color: #6e6e6e;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.navbar-profile:hover {
  color: black;
}

.profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #888;
  margin-left: 10px;
}

#navbarLinks li {
  position: relative;
  display: inline-block;
}

#navbarLinks a {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
}

#navbarLinks li:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  left: -12px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #d3d3d3;
  min-width: 165px;
  text-align: center;
  padding: 15px;
}

.submenu li {
  display: block;
}

.submenu a {
  padding: 10px 20px;
  color: #6e6e6e;
}

.submenu li:hover>a {
  font-weight: bold;
  color: black;
}

/* ======================BURGER MENU =========================================================================== */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #6e6e6e;
  transition: all 0.5s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* =================================== SIDE MENU ===================================== */
.side-menu.open {
  left: 0;
}

.side-menu {
  display: none;
  position: fixed;
  left: -250px;
  width: 250px;
  top: 58px;
  height: 100%;
  background-color: #d3d3d3;
  color: white;
  transition: left 0.3s ease-in-out;
  padding-top: 60px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px 20px;
  margin-top: 10px;
}

.side-menu ul li a {
  color: #6e6e6e;
  text-decoration: none;
  transition: all 0.5s ease;
  display: block;
  width: 100%;
}

.side-menu ul li a:hover {
  color: black;
}

.side-menu .submenu {
  display: none;
  position: relative;
  text-align: left;
  padding-left: 20px;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.side-menu .has-submenu.open .submenu {
  display: block;
  max-height: 300px;
  /* La hauteur maximale du sous-menu */
}

/* RESPONSIVE Télephone */
@media (max-width: 978px) {
  .side-menu {
    display: block;
  }

  .navbar-home {
    display: none;
  }

  #navbarLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .hamburger {
    display: flex;
  }

  .navbar-profile {
    margin-left: auto;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* RESPONSIVE Tablette */
@media (min-width: 978px) and (max-width: 1144px) {
  #navbarLinks {
    gap: 0px;
  }

  .navbar-item {
    font-size: 0.9rem;
  }

  .submenu a {
    font-size: 0.9rem;
  }

  .navbar-profile {
    font-size: 0.9rem;
  }

  .side-menu.ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1rem;
    list-style: none;
  }
}