*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.page-content {
  display: flex;
  justify-content: space-between;
}
.suivi {
  text-decoration: none;
  color: #7a7a7a;
}
.upper-page-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 4rem;
}
#tâches {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}
.right-side {
  padding: 0.4rem 3rem;
  background-color: #8f6255;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.todolist-container {
  padding: 2rem 4rem;
  border: 1px solid #000000;
  margin: 20px 0 0 4rem;
  width: 751px;
  height: 690px;
}
.todolist-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.btn-week {
  background: none;
  border: none;
  margin: 0 1rem;
}
.calendar {
  width: 320px;
  background-color: white;
  border-radius: 8px;
  margin: 20px 13rem 0 0;
  padding: 32px;
  border: 1px solid black;
  height: fit-content;
}
.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}
.nav-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.9rem;
}
.days div {
  font-weight: bold;
  color: #666;
}
.dates div {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.dates div:not(.highlight) {
  color: #333;
}
.highlight {
  background-color: #d1d5db;
  color: black;
}
.dates div:hover {
  background-color: #ececec;
}
.btn-week:hover {
  cursor: pointer;
}
/* Collaborateurs */
.collaborateurs-container {
  margin-top: 3rem;
  padding: 32px 16px;
  border: 1px solid black;
  border-radius: 8px;
  width: fit-content;
  background-color: #777e90;
}
.content-collaborateurs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.3rem;
}
#collab-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
}
.nom-collaborateurs {
  color: white;
}
.details-collaborateurs {
  font-weight: 100;
  color: white;
}
.img-collaborateurs {
  width: 24px;
  height: 24px;
}
.add-todo-container {
  text-align: right;
  margin-top: 12px;
}
.add-todo-container img {
  cursor: pointer;
}
/* Boites todolist */
.todolist-boxes {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.todolist-box {
  border: 1px solid #000000;
  border-radius: 8px;
  width: fit-content;
  padding: 1rem;
}
.todolist-date {
  text-align: center;
}
.todolist-description {
  font-weight: 100;
}
#add-todo-container {
  position: absolute;
  bottom: 7%;
  right: 48%;
}
#add-todo-container:hover {
  cursor: pointer;
}
/* ================= POPUP TODOLIST ==================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.add-task-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 300px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  background-color: #586068;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #0056b3;
}